.create-new-post-btn{
    border: 1px solid rgb(187, 187, 187);
    font-size: 20px;
    background-color: white;
    border-radius: 60px;
    width: 140px;
    height: 45px;
    transition: all 0.5s;
}
.create-new-post-btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.sb-btn-container{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.sb input, textarea{
    width: 300px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid rgb(187, 187, 187);
    margin-left: 20px;
    border-radius: 15px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.sb input::placeholder, textarea::placeholder{
    padding-left: 2px;
}
.sb input:focus, textarea:focus{
    outline: none;
}
.sb textarea{
    margin-top: 10px;
    height: 250px;
}
.new-post-container .submit-btn{
    background-color: white;
    margin-top: 10px;
    border: 1px solid rgb(187, 187, 187);
    height: 35px;
    width: 310px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(69, 69, 69);
    transition: all 0.5s;
    font-weight: 100;
}
.submit-btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}